*{
    // font-family: 'Kanit', 'Noto Sans HK',sans-serif;
    font-family: 'Kanit', 'cwTeXYen',sans-serif;
    box-sizing:border-box;
}
html,body{
    overscroll-behavior: none;
}
.body-1{
    border: 3px solid #0d0d0d;
    border-radius: 0;
    overflow: visible;
}
.wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}